/* Elements */
html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #1d2038;
}

/* Classes */
.main-box {
	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: rgba(0, 0, 0, 0.9) -2px 2px 5px;
	background-color: #090b10;
	margin: 0% 0% 1% auto;
	width: 51%;
	height: 100%;
	border-radius: 20px 0px 0px 20px;
}

.main-box .card {
	width: 90%;
	height: 90%;

	background-color: rgba(0, 0, 0, 0);
	border-radius: 20px;
}

/* IDs */

/* Scrollbar */
/* ::-webkit-scrollbar {
	width: 40px;
}
::-webkit-scrollbar-track {
	background: 0 0;
	border-radius: 100px;
	margin-block: 250px;
}
::-webkit-scrollbar-thumb {
	background-color: #7ab8ff77;
	border-radius: 100px;
	border: 16px solid transparent;
	background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #c8e1ff77;
} */
